.euxdt-dg-grid {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 100px;
    min-height: 100px;
    overflow: hidden;
    user-select: none;
    border: solid 1px #ccc
}


.euxdt-dg-cell,
.euxdt-dg-container,
.euxdt-dg-row {
    position: absolute;
    overflow: hidden
}

.euxdt-dg-floater,
.euxdt-dg-left-locked-floater,
.euxdt-dg-right-locked-floater {
    opacity: .9;
    z-index: 1;
    background-color: #f5f5f5;
    pointer-events: none;
}

.euxdt-dg-right-locked-floater .euxdt-dg-row,
.euxdt-dg-left-locked-floater .euxdt-dg-row,
.euxdt-dg-floater .euxdt-dg-row {
    border-bottom: none
}

.euxdt-dg-drag-bar,
.euxdt-dg-resize-bar {
    position: fixed;
    background-color: #000;
    z-index: 5
}

.euxdt-dg-resize-bar {
    width: 5px
}

.euxdt-dg-drag-bar {
    height: 2px
}

.euxdt-dg-body-scroller {

    overflow-y: scroll
}

.euxdt-dg-body {
    overflow-x: scroll
}

.euxdt-dg-h-scroll {
    position: absolute;
    z-index: 2;
    overflow-x: scroll
}

.euxdt-dg-v-scroll {
    position: absolute;
    z-index: 2;
    overflow-y: auto
}

.euxdt-dg-drag-handle {
    width: 24px;
    height: 24px;
    flex-shrink: 0
}

.euxdt-dg-body-scroller .euxdt-dg-drag-cell,
.euxdt-dg-body-scroller .euxdt-dg-drag-handle {

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='gray' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Ccircle cx='5' cy='9' r='1'/%3E%3Ccircle cx='5' cy='15' r='1'/%3E%3Ccircle cx='12' cy='9' r='1'/%3E%3Ccircle cx='12' cy='15' r='1'/%3E%3Ccircle cx='19' cy='9' r='1'/%3E%3Ccircle cx='19' cy='15' r='1'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    cursor: move
}

.euxdt-dg-drag-cell::after {
    content: ""
}

.euxdt-dg-row {
    border-bottom: 1px solid #ccc
}

.euxdt-dg-group-header-cell {
    font-weight: 500;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    gap: 5px
}

.euxdt-dg-info-cell::before {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><circle cx="8" cy="8" r="7" fill="gray" /><text x="8" y="13" text-anchor="middle" fill="white">i</text></svg>');
    color: #333;
    margin-right: 3px;
    margin-top: 3px;
}

.euxdt-dg-item-renderer {
    font-weight: 400
}

.euxdt-dg-header-renderer,
.euxdt-dg-header-renderer-column-group {
    font-weight: 500;
    text-overflow: ellipsis;
}

.euxdt-dg-cell {
    white-space: nowrap;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 5px;
    border-right: 1px solid #ccc
}

.euxdt-dg-body-cell {
    gap: 2px
}

.euxdt-dg-spacer {
    flex-shrink: 0
}

.euxdt-dg-last-left-locked-cell,
.euxdt-dg-last-right-locked-cell,
.euxdt-dg-last-unlocked-cell,
.euxdt-dg-last-section-cell {
    border-right: none
}

.euxdt-dg-last-unlocked-cell {
    padding-right: 20px;
}

.euxdt-dg-body-group-header,
.euxdt-dg-left-locked-body-group-header,
.euxdt-dg-right-locked-body-group-header {
    background-color: #f5f5f5;
    height: 100%;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    font-weight: 500;
    justify-content: flex-start;
    padding-left: 10px;
    gap: 5px;
}

.euxdt-dg-cell-word-wrap {
    white-space: normal
}

.eux-dg-right-align-cell {
    justify-content: flex-end
}

.eux-dg-center-align-cell {
    justify-content: center
}

.euxdt-dg-header-cell {
    white-space: normal;
    padding: 0 10px
}

.euxdt-dg-filter-renderer {
    width: 100%
}

.euxdt-dg-filter .euxdt-dg-cell,
.euxdt-dg-left-locked-filter .euxdt-dg-cell,
.euxdt-dg-right-locked-filter .euxdt-dg-cell {

    padding: 2px
}

.euxdt-dg-header .euxdt-dg-row,
.euxdt-dg-left-locked-header .euxdt-dg-row,
.euxdt-dg-right-locked-header .euxdt-dg-row {
    border-top: 1px solid #ccc
}

.euxdt-dg-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    flex-wrap: nowrap;
}

.euxdt-dg-toolbar-section input[type="text"] {
    flex-shrink: 1;
    min-width: 0;

}

.euxdt-dg-grid input[type="number"]::-webkit-inner-spin-button,
.euxdt-dg-grid input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.euxdt-dg-filter-cell select,
.euxdt-dg-filter-cell input {
    flex: 1;
    align-self: center
}

.euxdt-dg-filter-cell input[type="checkbox"] {
    align-self: center;
    flex: unset
}

.euxdt-dg-selected-cell,
.euxdt-dg-selected-row {
    background-color: #f0f0f0
}

.euxdt-dg-body-scroller .euxdt-dg-active-cell,
.euxdt-dg-body-scroller .euxdt-dg-active-row {
    background-color: #f6f6f6
}

.euxdt-dg-quick-find-cell {
    background-color: rgba(234, 208, 10, .5)
}

.euxdt-dg-editor {
    width: 100%
}

.euxdt-dg-editor input,
.euxdt-dg-editor select {
    width: calc(100% - 10px);
}

.euxdt-dg-edited-cell {
    background-color: rgba(91, 241, 93, 0.747)
}

.euxdt-dg-focus-cell {
    background: #cfcfcf
}

.euxdt-dg-border-cell {
    border: 1px solid #afafaf;
}

.euxdt-dg-edited-invalid-cell {
    background-color: rgba(255, 0, 0, 0.747)
}

.euxdt-dg-hdivider,
.euxdt-dg-vdivider {
    position: absolute;
    background-color: #ccc
}

.euxdt-dg-hdivider {
    height: 1px
}

.euxdt-dg-vdivider {
    width: 2px
}

.euxdt-dg-renderer {
    display: flex;
    align-items: center;
    overflow: hidden
}

.euxdt-dg-header-sort-asc,
.euxdt-dg-header-sort-desc {
    border: solid 5px transparent;
    margin-left: 2px
}

.euxdt-dg-header-sort-asc {
    border-bottom: solid 8px #999;
    border-top-width: 0
}

.euxdt-dg-header-sort-desc {
    border-top: solid 9px #999;
    border-bottom-width: 0
}

.euxdt-dg-header-sort-index {
    padding-left: 1px;
    font-size: smaller
}

.euxdt-dg-header-multi-sort {
    cursor: pointer
}

.euxdt-dg-header-multi-sort::after {
    content: "▲";
    position: absolute;
    font-size: x-small;
    color: #ccc;
    top: 2px;
    cursor: pointer;
    left: 5px
}

.euxdt-dg-header-drag {
    cursor: move
}

.euxdt-dg-header-drag::after {
    content: "✥";
    font-size: larger;
    position: absolute;
    color: #ccc;
    top: 0;
    cursor: move;
    right: 5px
}

.euxdt-dg-header-resize {
    cursor: col-resize
}

.euxdt-dg-header-resize::after {
    content: "↔";
    position: absolute;
    color: #ccc;
    bottom: 0;
    cursor: col-resize;
    right: 7px
}

.euxdt-dg-header-hamburger {
    width: 20px;
    height: 20px;
    background-image: radial-gradient(circle, #ccc 2px, transparent 2px);
    background-size: 100% 33.33%;
    position: absolute;
    left: 3px;
    bottom: -3px;
    transform: rotate(90deg);
    cursor: pointer
}

.euxdt-dg-container input[type=date] {
    font-family: unset
}

.euxdt-dg-numeric-range {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%
}

.euxdt-dg-numeric-range input {
    width: 45%
}

.euxdt-dg-context-menu {
    position: fixed;
    z-index: 2;
    width: 200px
}

.euxdt-dg-header-hamburger-menu {
    display: block;
    position: relative;
    width: 100%
}

.euxdt-dg-context-menu>div>div,
.euxdt-dg-header-hamburger-menu>div>div {
    display: block;
    padding: 10px 8px;
    text-decoration: none;
    color: #000;
    background-color: #ddd;
    border-bottom: 1px solid #ccc
}

.euxdt-dg-context-menu>div>div:hover,
.euxdt-dg-header-hamburger-menu>div>div:hover {
    background-color: #eee
}


.euxdt-dg-column-group-header {
    background-color: #fff
}
.euxdt-dg-lock-left-icon:before,
.euxdt-dg-lock-right-icon:before {
    content: "←";
    padding-right: 5px;
    transform: rotate(270deg)
}

.euxdt-dg-lock-right-icon:before {
    content: "→"
}

.euxdt-dg-pin-none-icon:before {
    content: "×";
    padding-right: 5px;
    transform: translate(-50%, -50%) rotate(45deg)
}

.euxdt-dg-sort-ascending-icon:before,
.euxdt-dg-sort-descending-icon:before {
    content: "↑";
    padding-right: 5px;
    transform: translate(-50%, -50%) rotate(45deg)
}

.euxdt-dg-sort-descending-icon:before {
    content: "↓"
}
.euxdt-dg-clear-filter-icon:before,
.euxdt-dg-run-filter-icon:before,
.euxdt-dg-sort-none-icon:before {
    content: "×";
    padding-right: 5px;
    transform: translate(-50%, -50%) rotate(45deg)
}

.euxdt-dg-run-filter-icon:before {
    content: "→"
}

.euxdt-dg-fit-all-width-icon:before,
.euxdt-dg-fit-width-icon:before {
    content: "↔";
    padding-right: 5px;
    transform: translate(-50%, -50%) rotate(45deg)
}

.euxdt-dg-menu-separator {
    background: #aaa!important;
    height: 2px;
    padding: 0 !important;
}

.euxdt-dg-filter-chips {
    display: flex;
    align-items: center;
    gap: 4px
}

.euxdt-dg-group-drop-zone {
    background-color: #6ef0b1;
    border-radius: 12px;
    height: 100%;
    padding: 4px 8px;
    display: flex;
    align-items: center
}

.euxdt-dg-toolbar-section,
.euxdt-dg-toolbar-spacer {
    display: flex;
    align-items: center;
    gap: 4px;
}

.euxdt-dg-toolbar-spacer {
    width: 100%;
    justify-content: space-between;
}

.euxdt-dg-popup {
    position: fixed;
    border: solid 1px #ccc;
    background: #fff;
    z-index: 3
}

.euxdt-dg-disabled {
    pointer-events: none;
    opacity: .5
}

.euxdt-dg-popup-background {
    position: fixed;
    z-index: 5;
}

.euxdt-dg-save-settings-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    gap: 4px;
}

.euxdt-dg-save-settings {
    display: grid;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 5px;
    gap: 5px;
}

.euxdt-dg-skeleton>* {
    display: none !important
}

.euxdt-dg-skeleton::after {
    content: "";
    width: 100%;
    height: 25px;
    display: flex;
    align-self: center;
    z-index: 1;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%), lightgray;
    background-repeat: no-repeat;
    background-size: 50px 100%;
    background-position: 0 0;
    animation: euxdt-dg-skeleton-shine 1s infinite
}

@keyframes euxdt-dg-skeleton-shine {
    to {
        background-position: 100% 0, 0 0
    }
}